<h3> Train Details</h3>
<div>
    <div>
        <label> <b> Train No</b></label> {{trainmodel.trainNo}}
    </div>

    <div>
        <label> <b> Train Name</b></label> {{trainmodel.trainName}}
    </div>

    <div>
        <label> <b>  From</b></label> {{trainmodel.trainFrom}}
    </div>

    <div>
        <label> <b> To</b></label> {{trainmodel.trainTo}}
    </div>

    <div>
        <label> <b> Fare</b></label> {{trainmodel.fare}}
    </div>

    <div>
        <label> <b> Total Seats</b></label> {{trainmodel.seats}}
    </div>
    
    <div>
        <label> <b> Train Time</b></label> {{trainmodel.time}}
    </div>

</div>